
 h1 {
	
	font-family: tahoma;
	margin: .67em 0;
	font-size: 3em;
}
.jumbotron {
  padding-top: 90px;
  min-height: 600px;
  margin-bottom: 0;
  background-image: url('../images/banner_14198.jpg');
  background-size: cover;
  background-attachment: fixed;
}
